.customCaption {
    position: absolute;
    bottom: -1rem;
    left: 0px;
    text-align: left;
    /* Optional: semi-transparent background */
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
}

.customCaption button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.heroBackground {
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media (min-width: 768px) {
    .heroImg {
        height: 500px;
    }
}

@media (min-width: 900px) {
    .heroImg {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .heroImg {
        height: 650px;
    }
}