.sloganContainer {
    font-family: 'Playfair Display', serif;
}

.sloganText {
    color: #817d7d;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 10px;
}

.firstLine {
    font-style: italic;
    font-size: 1.8rem;
}

.secondLine {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.thirdLine {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.quoteImageSx {
    max-height: 50px;
    opacity: 0.7;
    filter: brightness(0.8);
    position: absolute;
    top: -1rem;
    left: 0;
}

.quoteImageDx {
    max-height: 50px;
    opacity: 0.7;
    filter: brightness(0.8);
    position: absolute;
    bottom: -1rem;
    right: 0;
}

@media (max-width: 768px) {
    .firstLine {
        font-size: .4rem;
    }

    .secondLine {
        font-size: .6rem;
    }

    .thirdLine {
        font-size: .4rem;
    }

    .quoteImageSx,
    .quoteImageDx {
        max-height: 40px;
    }
}

@media (min-width: 768px) {
    .firstLine {
        font-size: .6rem;
    }

    .secondLine {
        font-size: .8rem;
    }

    .thirdLine {
        font-size: .7rem;
    }

    .quoteImageSx,
    .quoteImageDx {
        max-height: 40px;
    }
}