.search-bar input {
    transition: width 0.3s ease;
    width: 180px;
}

.myNav {
    background-color: transparent !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.scrolled {
    background-color: #f9f8fb !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    color: #000000 !important;
}