.app {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.nav {
  padding: 20px;
  background-color: #20232a;
}

.link {
  color: #61dafb;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

.link:hover {
  text-decoration: underline;
}

:root {
  --primary: #ffffff;
  --secondary: #080808;
  --accent: #f1faee;
  --text: #333;
  --light: #d8daca;
}

.link-product:hover {
  text-decoration: underline;
}